   <%- include ('header') %>


     <title>Tagdíj</title>

    <style>
        .custom-bg {
            background-color: #2d336b;
        }

        .container {
            text-align: center;
            margin-top: 50px;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        .col {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        .header {
            font-size: 20px;
        }

        .year-label {
            font-size: 20px;
            font-weight: bold;
            width: 80px;
            text-align: right;
            margin-right: 10px;
        }

        .box {
            width: 73px;
            height: 73px;
            border: 2px solid #ccc;
            display: inline-block;
            margin: 3px;
            margin-left: 25px;
        }

        .paid {
            background-color: green;
        }

        .unpaid {
            background-color: red;
            border: 2px solid yellow;
        }

        .future {
            background-color: gray;
        }

        .months {
            margin: 0px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body style="background-color: #f5f5f5">
   

    <div class="container">
        <div class="row months border-bottom border-black">
            <div class="year-label"></div>
            <div class="col">Január</div>
            <div class="col">Február</div>
            <div class="col">Március</div>
            <div class="col">Április</div>
            <div class="col">Május</div>
            <div class="col">Június</div>
            <div class="col">Július</div>
            <div class="col">Augusztus</div>
            <div class="col">Szeptember</div>
            <div class="col">Október</div>
            <div class="col">November</div>
            <div class="col">December</div>
        </div>

        <div class="row">
            <div class="year-label">2025</div>
            <div class="box <%= paid2025[0] %>"></div>
            <div class="box <%= paid2025[1] %>"></div>
            <div class="box <%= paid2025[2] %>"></div>
            <div class="box <%= paid2025[3] %>"></div>
            <div class="box <%= paid2025[4] %>"></div>
            <div class="box <%= paid2025[5] %>"></div>
            <div class="box <%= paid2025[6] %>"></div>
            <div class="box <%= paid2025[7] %>"></div>
            <div class="box <%= paid2025[8] %>"></div>
            <div class="box <%= paid2025[9] %>"></div>
            <div class="box <%= paid2025[10] %>"></div>
            <div class="box <%= paid2025[11] %>"></div>
        </div>

        <div class="row">
            <div class="year-label">2024</div>
            <div class="box <%= paid2024[0] %>"></div>
            <div class="box <%= paid2024[1] %>"></div>
            <div class="box <%= paid2024[2] %>"></div>
            <div class="box <%= paid2024[3] %>"></div>
            <div class="box <%= paid2024[4] %>"></div>
            <div class="box <%= paid2024[5] %>"></div>
            <div class="box <%= paid2024[6] %>"></div>
            <div class="box <%= paid2024[7] %>"></div>
            <div class="box <%= paid2024[8] %>"></div>
            <div class="box <%= paid2024[9] %>"></div>
            <div class="box <%= paid2024[10] %>"></div>
            <div class="box <%= paid2024[11] %>"></div>
        </div>

        <div class="row">
            <div class="year-label">2023</div>
            <div class="box <%= paid2023[0] %>"></div>
            <div class="box <%= paid2023[1] %>"></div>
            <div class="box <%= paid2023[2] %>"></div>
            <div class="box <%= paid2023[3] %>"></div>
            <div class="box <%= paid2023[4] %>"></div>
            <div class="box <%= paid2023[5] %>"></div>
            <div class="box <%= paid2023[6] %>"></div>
            <div class="box <%= paid2023[7] %>"></div>
            <div class="box <%= paid2023[8] %>"></div>
            <div class="box <%= paid2023[9] %>"></div>
            <div class="box <%= paid2023[10] %>"></div>
            <div class="box <%= paid2023[11] %>"></div>

        </div>



    </div>

    <div class="container border-top border-black">
        <div class="row" style="margin-top: 30px">
            <div class="col">
                <div class="row">
                    <p><strong>Fizetendő végösszeg:</strong> </p>
                    <p><strong>Kijelölt hónapok száma:</strong> 5</p>
                    </div>
                </div>
            <div class="col-6"></div>

                <div class="col" style="margin-top: -25px">
                    <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now accepting PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works"><font size="2" face="Arial" color="#0079CD"></font></a></div></td></tr></table><!-- PayPal Logo -->
                </div>
            </div>
    </div>

   <%- include ('footer') %>
     <!-- Ideiglenes kódrészlet ChatGPT-vel generálva, hogy szemléltessem a tagdíj menű működését.-->
     <script>
    document.addEventListener("DOMContentLoaded", function () {
        const boxes = document.querySelectorAll(".box"); // Kijelöljük az összes boxot
        const amountDisplay = document.querySelector("p strong:nth-of-type(1)"); // Fizetendő összeg kijelzése
        const selectedCountDisplay = document.querySelector("p strong:nth-of-type(2)"); // Kijelölt hónapok száma
        
        let pricePerMonth = 7500; // Egy hónap ára
        let selectedMonths = 0; // Kezdeti kijelölt hónapok

        boxes.forEach(box => {
            box.addEventListener("click", function () {
                // Ha még nem fizetett (piros), akkor fizetetté tesszük (zöld)
                if (box.classList.contains("unpaid")) {
                    box.classList.remove("unpaid");
                    box.classList.add("paid");
                    selectedMonths++;
                }
                // Ha fizetett (zöld), akkor visszaállítjuk nem fizetettre (piros)
                else if (box.classList.contains("paid")) {
                    box.classList.remove("paid");
                    box.classList.add("unpaid");
                    selectedMonths--;
                }

                // Frissítjük az árakat
                let totalAmount = selectedMonths * pricePerMonth;
                amountDisplay.innerHTML = `Fizetendő végösszeg: ${totalAmount} HUF`;
                selectedCountDisplay.innerHTML = `Kijelölt hónapok száma: ${selectedMonths}`;
            });
        });
    });
</script>

</body>

</html>
